.header {
	height: 100vh;
	background-color: #1f1f20;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.block {
	border: 1px dotted;
	width: 80%;
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.contacts {
	border: 1px dotted;
	height: 60%;
	width: 360px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.button {
	padding: 8px;
	font-size: large;
	background-color: lightskyblue;
}

input {
	row-span: inherit;
	height: 20px;
}

textarea {
	resize: none;
	height: 200px;
}

.contacts input, textarea {
	border: 1px solid grey;
	width: 350px;
	justify-content: space-between;
}

@media screen and (max-width: 455px) {
	.contacts {
		width: 100%;
	}

	.contacts input, textarea {
		width: 99%;
	}
}