.header {
	min-height: 100vh;
	background-color: #252527;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.block {
	width: 80%;
}

.hat {
	/*border: 1px dotted;*/
	text-align: center;
	height: 50px;
	margin-bottom: 50px;
}

.hat div {
	color: #09d3ac;
	margin-top: -10px;
}

.skills {
	/*border: 1px dotted;*/
	min-height: 250px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

@media screen and (max-width: 1136px) {
	.skills {
		flex-direction: column;
		align-items: center;
	}
}