.header {
	min-height: 100vh;
	background-color: darkseagreen;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block {
	width: 80%;
}

.hat {
	border: 1px dotted;
	text-align: center;
	height: 50px;
}

.skills {
	border: 1px dotted;
	min-height: 250px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

@media screen and (max-width: 1136px) {
	.skills {
		flex-direction: column;
		align-items: center;
	}
}