.header {
	height: 100vh;
	background-color: darkseagreen;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block {
	/*border: 1px dotted;*/
	width: 80%;
	height: 70vh;
}

.hat {
	border: 1px dotted;
	text-align: center;
	height: 15vh;
}

.third {
	border: 1px dotted;
	height: 55vh;
	display: flex;
	justify-content: space-between;

}

.one {
	border: 1px dotted;
	width: 25%;
}

.two {
	border: 1px dotted;
	width: 25%;
	display: flex;
	flex-direction: column;
}

.twoUp {
	border: 1px dotted;
	height: 55%;

}

.towDown {
	border: 1px dotted;
	height: 45%;
}

.three {
	border: 1px dotted;
	width: 25%;
}

.threeUp {
	border: 1px dotted;
	height: 55%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}

.threeUpDiv {
	border: 1px dotted;
	height: 40%;
	width: 60%;
}

.threeDown {
	border: 1px dotted;
	height: 45%;
}

.button {
	margin: 10%;
	padding: 15%;
	font-size: larger;
	background-color: #09d3ac;
}