.project {
	border: 1px dotted;
	width: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.picture {
	background-color: gray;
	border: 1px dotted;
	height: 200px;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	background-image: url("https://cdn.pixabay.com/photo/2015/12/01/20/28/fall-1072821__340.jpg");
}

.projectTitle {
	padding: 8px;
	font-size: larger;
	background-color: lightskyblue;
}


.projectDescription {
	background-color: gainsboro;
	border: 1px dotted;
	width: fit-content;
}