.footer {
	height: 50vh;
	background-color: dodgerblue;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block {
	border: 1px dotted;
	width: 80%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.contacts {
	border: 1px dotted;
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.contacts nav {
	width: 60px;
	height: 60px;
	background-color: gray;
}

@media screen and (max-width: 760px){
	.contacts {
		width: 300px;
	}

	.contacts nav{
		width: 50px;
		height: 50px;
	}
}

@media screen and (max-width: 360px){
	.contacts {
		width: 100%;
	}

	.contacts nav{
		width: 50px;
		height: 50px;
	}
}