.header {
	min-height: 100vh;
	background-color: #1f1f20;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.block {
	width: 80%;
}

.hat {
	/*border: 1px dotted;*/
	text-align: center;
	height: 50px;
	margin-bottom: 50px;
}

.hat div {
	color: #09d3ac;
	margin-top: -10px;
}

.projects {
	/*border: 1px dotted;*/
	/*min-height: 320px;*/
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media screen and (max-width: 807px) {
	.projects {
		justify-content: center;
	}
}