.header {
	min-height: 100vh;
	background-color: plum;
	display: flex;
	justify-content: center;
	align-items: center;
}

.block {
	width: 80%;
}

.hat {
	border: 1px dotted;
	text-align: center;
	height: 50px;
}

.projects {
	border: 1px dotted;
	/*min-height: 320px;*/
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}